<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
    
    <key>LSApplicationQueriesScemes</key>
    <array>
        <string>tel</string>
        <string>sms</string>
        <string>mailto</string>
        <string>maps</string>
        <string>googlechrome</string>
        <string>camera</string>
    </array>
</dict>
</plist>
